body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#float-btn-panel {
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 1;
}

#float-btn-panel .float-btn {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 10px #cfcfcf;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 16px 0;
}

#loadingText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cfcfcf;
    background-color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

.float-btn > svg {
    height: 24px;
    width: 24px;
}

.head-container {
    display: flex;
    position: relative;
    flex: 0 0 60px;
    max-height: 60px;
    box-shadow: 0 0 10px #cfcfcf;
    z-index: 1;
}

#head-title {
    height: 100%;
    flex: 0 0 auto;
}

#type-select-area {
    display: flex;
    flex: 1 1 auto;
}

.mobile-head-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
}

.mobile-head-btn-icon {
    height: 100%;
    width: 100%;
}

.canvas-area {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.canvas-area>canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.radio-group {
    display: flex;
    align-items: center;
    margin: 0 16px;
    min-width: 0;
}

.radio-group > label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 800px) {
    .head-container {
        display: block;
    }
    #type-select-area {
        margin: 8px;
        flex-direction: column;
        background: #fffffff0;
        border: 1px solid #f1f1f1;
        border-radius: 6px;
        box-shadow: 0 0 10px #cfcfcf;
    }
    .radio-group {
        align-items: unset;
        justify-content: center;
        padding: 12px 6px;
        margin: 4px;
        border-radius: 10px;
    }
    .radio-group:first-child {
        margin-top: 12px;
    }
    .radio-group:last-child {
        margin-bottom: 12px;
    }
    .radio-group:active {
        background: #00a3ff;
        transition: background 2s ease 0s;
    }
    #spread-btn {
        display: flex;
    }
}
